body {
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .header-color {
    background: #373B44;  
    background: -webkit-linear-gradient(to bottom, #4286f4, #373B44); 
    background: linear-gradient(to bottom, #4286f4, #373B44);
} */

.grid1 {
    background: #0f0c29; 
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}

.header-color {
    background: linear-gradient(to top, #000, #000); 
}

.title {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.contact {
    /* background-color: #000; */
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.about {
    /* background-color: #000; */
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.home {
    /* background-color: #000; */
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
