* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #43C6AC;  
background: -webkit-linear-gradient(to bottom, #191654, #43C6AC); 
background: linear-gradient(to bottom, #191654, #43C6AC); 
font-family: 'Montserrat', sans-serif;
}

.grid1 {
    background: #0f0c29; 
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
font-family: 'Montserrat', sans-serif;
}

.header-color {
    background: linear-gradient(to top, #000, #000); 
}

.title {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact {
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about {
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.home {
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.resume {
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.projects {
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
